* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d0d9ff;
  font-family: "Poppins";
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__header h1 {
  color: rgb(6, 8, 29);
}
.app__left {
  flex: 0.9;
}

.app__right {
  margin-top: 15px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
